@model PortalEmprego_Wth_MemberShip_And_mvc5.Models.Anuncio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Anuncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.startPub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.startPub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finishPub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finishPub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publish_up)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_up)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publish_down)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_down)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrlImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conteudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isFullTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isFullTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutadorCreated.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutadorCreated.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecrutadorModified.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecrutadorModified.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusVaga.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusVaga.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
