@model PortalEmprego_Wth_MemberShip_And_mvc5.Models.Anuncio

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Anuncio</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo)
                @Html.ValidationMessageFor(model => model.Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.startPub, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.startPub)
                @Html.ValidationMessageFor(model => model.startPub)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.finishPub, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.finishPub)
                @Html.ValidationMessageFor(model => model.finishPub)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.created)
                @Html.ValidationMessageFor(model => model.created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modified)
                @Html.ValidationMessageFor(model => model.Modified)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.publish_up, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.publish_up)
                @Html.ValidationMessageFor(model => model.publish_up)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.publish_down, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.publish_down)
                @Html.ValidationMessageFor(model => model.publish_down)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrlImg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrlImg)
                @Html.ValidationMessageFor(model => model.UrlImg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conteudo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Conteudo)
                @Html.ValidationMessageFor(model => model.Conteudo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.created_by, "created_by", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("created_by", String.Empty)
                @Html.ValidationMessageFor(model => model.created_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modified_by, "Modified_by", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Modified_by", String.Empty)
                @Html.ValidationMessageFor(model => model.Modified_by)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, "Location", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Location", String.Empty)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, "Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status", String.Empty)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lang, "Lang", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Lang", String.Empty)
                @Html.ValidationMessageFor(model => model.Lang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isFullTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isFullTime)
                @Html.ValidationMessageFor(model => model.isFullTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
