@model IEnumerable<PortalEmprego_Wth_MemberShip_And_mvc5.Models.Anuncio>


@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div>



    @using (@Html.BeginForm("Index1", "Anuncio", FormMethod.Get, new { id = "searchForm" }))
    {
        <div class="row">

            <div class="col-md-2">

            </div>


            <div class="col-md-10">
                <div class="jumbotron no-margin">
                    <div class="row">



                        <div class="container">

                            <div class="col-lg-12">
                                <div class="input-group">

                                    @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Pesquisar por...", id = "txtSearch" })

                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Buscar</button>

                                        <a id="listlink" href="#"><span class="glyphicon glyphicon-th" style="color:black"></span></a> |
                                        <a id="gridlink" href="#"><span class="glyphicon glyphicon-th"></span></a>
                                    </span>




                                </div><!-- /input-group -->



                            </div><!-- /.col-lg-6 -->


                        </div>

                    </div>

                    <div id="divlist">

                    </div>

                    <div class="row" id="divgrid" style="display:none">

                        <div class="col-md-12">

                            <div class="row">
                                <div class="container">
                                    <div class="col-lg-2">

                                        <div class="input-group">


                                            <div class="controls">
                                                @Html.DropDownList("tipoAnuncio", null, "-- Anuncios(Todos) --", new { @class = "form-control" })
                                            </div>




                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->

                                    <div class="col-lg-2">
                                        <div class="input-group">

                                            <div class="controls">
                                                @Html.DropDownList("Status", null, "-- Publicação(Todos) --", new { @class = "form-control" })
                                            </div>


                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->

                                    <div class="col-lg-2">
                                        <div class="input-group">

                                            <div class="controls">
                                                @Html.DropDownList("Lang", null, "-- Língua(Todos) --", new { @class = "form-control" })
                                            </div>


                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->

                                    <div class="col-lg-2">
                                        <div class="input-group">

                                            <div class="controls">
                                                @Html.DropDownList("Location", null, "-- Local(Todos) --", new { @class = "form-control" })
                                            </div>


                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->

                                    <div class="col-lg-2">
                                        <div class="input-group">

                                            <div class="controls">
                                                @Html.DropDownList("category", null, "-- Categorias(Todos) --", new { @class = "form-control" })
                                            </div>


                                        </div><!-- /input-group -->
                                    </div><!-- /.col-lg-6 -->



                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>


    }





    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2">

            </div>


            <div class="col-md-10">

                <div style="margin-top:10px"></div>




                @*<button type="button" class="btn btn-default"> Adcionar</button>*@
                <a class="btn btn-default" href="@Url.Action("Create", "Anuncio" )" role="button"> Adcionar</a>
                <button type="button" class="btn btn-default"> Delete</button>
                <button type="button" class="btn btn-default"> Publish</button>
                <button type="button" class="btn btn-default"> Remove</button>




                <div style="margin-bottom:10px"></div>

                <fieldset>
                    <legend></legend>
                </fieldset>
            </div>

        </div>

    </div>

</div>

<div style="overflow-y: scroll; height: 100%;">
    <div class="container-fluid">



        <div class="row">


            <div class="col-md-10 col-md-push-2">

                <div class="table-responsive">

                    <table class="table " id="articleList">
                        <thead>
                            <tr>
                                <th width="1%">
                                    <a href="#" class="" data-order="a.ordering" data-direction="ASC" data-name="" title="&lt;strong&gt;Ordering&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">

                                    </a>
                                </th>
                                <th width="1%" class="">

                                    <input type="checkbox" id="checkAll" title="Check All" />


                                </th>

                                <th>
                                    <a href="#" class="" data-order="a.title" data-direction="ASC" data-name="Title" title="&lt;strong&gt;Title&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">
                                        @Html.DisplayNameFor(model => model.title)
                                    </a>
                                </th>

                                <th width="10%" class="">
                                    <a href="#" class="" data-order="a.created_by" data-direction="ASC" data-name="Author" title="&lt;strong&gt;Author&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">
                                        @Html.DisplayNameFor(model => model.created_by)
                                    </a>
                                </th>
                                <th width="5%" class="">
                                    <a href="#" class="" data-order="language" data-direction="ASC" data-name="Language" title="&lt;strong&gt;Language&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">
                                        @Html.DisplayNameFor(model => model.Lang)
                                    </a>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                    </table>




                    <div style="height:400px; overflow:auto">


                        @if (@Model.Count() > 0)
                    {
                            <table class="table table-hover tabela" id="articleList" style="color:black">
                                <thead style="margin-top:0px">
                                    <tr>
                                        <th width="1%" height="0px">
                                            @*<a href="#" class="" data-order="a.ordering" data-direction="ASC" data-name="" title="&lt;strong&gt;Ordering&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">

                                                </a>*@
                                        </th>
                                        <th width="1%" class="" height="0px">

                                            @*<input type="checkbox" id="checkAll" title="Check All" />*@


                                        </th>

                                        <th height="0px">
                                            @*<a href="#" class="" data-order="a.title" data-direction="ASC" data-name="Title" title="&lt;strong&gt;Title&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">
                                                    @Html.DisplayNameFor(model => model.title)
                                                </a>*@
                                        </th>

                                        <th width="10%" class="" height="0px">
                                            @*<a href="#" class="" data-order="a.created_by" data-direction="ASC" data-name="Author" title="&lt;strong&gt;Author&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">
                                                    @Html.DisplayNameFor(model => model.created_by)
                                                </a>*@
                                        </th>
                                        <th width="5%" class="" height="0px">
                                            @*<a href="#" class="" data-order="language" data-direction="ASC" data-name="Language" title="&lt;strong&gt;Language&lt;/strong&gt;&lt;br /&gt;Click to sort by this column">
                                                    @Html.DisplayNameFor(model => model.Lang)
                                                </a>*@
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @Html.EditorForModel()

                                </tbody>
                            </table>

                    }
                    else
                    {

                            <div class="alert alert-warning">
                                Nenhum resultado encontrado
                            </div>
                    }

                   </div>

                </div>

            </div>

            <div class="col-md-2 col-md-pull-10">
                <div class="sidebar" style="margin:10px 10px">
                    <ul class="nav nav-sidebar">
                        <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">Reports</a></li>
                        <li><a href="#">Analytics</a></li>
                        <li><a href="#">Export</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item</a></li>
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                        <li><a href="">More navigation</a></li>
                    </ul>
                    <ul class="nav nav-sidebar">
                        <li><a href="">Nav item again</a></li>
                        <li><a href="">One more nav</a></li>
                        <li><a href="">Another nav item</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {

    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js"></script>

    <script type="text/javascript">

        $(function () {
            $("#txtSearch").autocomplete({
                source: '@Url.Action("GetAnuncios")',
                minLength: 1
            });
        });
    </script>


    <script>
        $(function () {
            $("#checkAll").click(function () {


                $("input[name='anuncioIdsSelected']").prop('checked', this.checked);

                $("input[name='anuncioIdsSelected']").click(function () {
                    if ($("input[name='anuncioIdsSelected']").length == $("input[name='anuncioIdsSelected']:checked").length) {
                        $("#checkAll").prop('checked', true);
                    }
                    else {
                        $("#checkAll").prop('checked', false);
                    }
                });

            });



            $("#btnDeleteSubmit").click(function () {
                var count = $("input[name='anuncioIdsSelected']:checked").length;
                if (count == 0) {
                    alert("No rows selected to delete");
                    return false;
                }
                else {
                    return confirm(count + " row(s) will be deleted");
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#gridlink").click(function () {
                $("#divlist").hide();
                $("#divgrid").show();
            });
            $("#listlink").click(function () {
                $("#divlist").show();
                $("#divgrid").hide();
            });
        })
    </script>
}
