@model PortalEmprego_Wth_MemberShip_And_mvc5.Models.Anuncio

@*<div class="col-xs-12 col-sm-9">
<div class="col-xs-6 col-md-3">
    <div class="thumbnail">
        <img src="@Url.Content(Model.UrlImg)" alt="...">
        <div class="caption">
            <h4>@Model.title</h4>
           
            <p><a href="@Url.Action("Details", "Vaga", new { id = Model.Id })" class="btn btn-primary" role="button">Ver</a>
        </div>
    </div>
    <br/>
</div>
</div>*@


<div class="col-xs-6 col-sm-3 placeholder" style="padding-bottom:20px;">


    <div class="thumbnail wow">


        <img data-src="holder.js/200x200/auto/#DCE2F2:#636363/text:@Model.title \n (M\F) \n \n @if(@Model.created_by != null) {@Model.Recrutador.Name}
                                                                                               else { var s = "Erro - "; @s }@if(@Model.Location != null) {@Model.Local.Name}
                                                                                               else { var s = "Erro"; @s }" class="img-responsive img-circle" alt="Generic placeholder thumbnail">

        <div class="caption">
            @*<div>
                <h2> <small> MCel - Maputo </small></h2>
                
            </div>*@
           
            

            @if (@Model.category != null)
            {
            <p><h4><small>@Model.Category1.Name</small> <span class="label label-success pull-right">New</span> </h4></p>
            }
            else { 
            <p><h4><small>Erro</small> <span class="label label-success pull-right">New</span> </h4></p>
            }
            

            @*<p><a class="btn btn-success" role="button" href="@Url.Action("Details", "Anuncio", new { id = @Model.Id })"><span class="glyphicon glyphicon-eye-open"></span> Ver</a> <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-share-alt"></span> Sugerir</a></p>*@
       
         </div>
        <br />
        <div class="overlay">
            <div class="container">
               
                
                @*<h3 style="color:white">  &nbsp; &nbsp;  &nbsp; <span class="glyphicon glyphicon-eye-open"> 100</span></h3>*@
                

               
               
                <br />
                <br />
                <br />

                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
               
                <p> &nbsp; &nbsp;  
                <a href="#" class="btn btn-default" role="button"> <span class="glyphicon glyphicon-share-alt"></span> Sugerir</a>
                    <a class="btn btn-primary" role="button" href="@Url.Action("Details", "Anuncio", new { id = @Model.Id })"><span class="glyphicon glyphicon-eye-open"></span> Ver</a>
                </p>

                <br />
                <br />
               
                
                
            </div>
        </div>

    </div>


</div>
