
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    <link href="~/Content/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/bootstrap/datepicker")

</head>

<body style="overflow-x:hidden;">

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" style="margin:0px;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-WDM-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">MOZJOB</a>
            </div>


            <div class="collapse navbar-collapse" id="bs-WDM-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>


    <!-- Start of the Fotter -->

    <footer class="site-fotter">

        <div class="container">

            <div class="row">
                <address>
                    <strong>Contact</strong><br>
                    #9999, Street of <br>place, City of place, <br> Country <br>
                </address>

                <div class="bottom-footer">
                    <div class="col-md-5">
                        Copyright WebDevMentos 2015
                    </div>
                    <div class="col-md-7">
                        <ul class="footer-nav">
                            <li><a href="#">Index</a></li>
                            <li><a href="$">blog</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End of the Footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("//tinymce.cachefly.net/4.0/tinymce.min.js")
    @RenderSection("Scripts", required: true)

</body>
</html>