@{
    if (User.Identity.IsAuthenticated)
    {
        <li class="dropdown">




            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                @User.Identity.Name
                <span class="glyphicon glyphicon-user"></span>
                <b class="caret"></b>

            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <span>
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>@User.Identity.Name</strong>
                    </span>
                </li>
                <li class="divider"></li>
                <li class="">
                    <a href="index.php?option=com_admin&amp;task=profile.edit&amp;id=879">Edit Account</a>
                </li>
                <li class="divider"></li>
                <li class="">
                    @using (Html.BeginForm("Logout", "AccountOne", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
                    }
                </li>
            </ul>





        </li>
    }
    else
    {
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Login", "Login", "AccountOne")</li>
            <li>@Html.ActionLink("Register", "Register", "AccountOne")</li>
        </ul>

    }
}



