@model PortalEmprego_Wth_MemberShip_And_mvc5.Models.Vaga








@{
    ViewBag.Title = "Adicionar Vaga";
}

@*@section Menu
{
    <a href="#" class="list-group-item active">Link</a>
    <a href="@Url.Action("Index", "Home")" class="list-group-item">Anucios de Vagas</a>
    <a href="@Url.Action("Create", "Recrutador")" class="list-group-item">Adicinar recrutador</a>
    <a href="@Url.Action("Create", "Categoria" )" class="list-group-item">Adicinar Categorias</a>
    <a href="@Url.Action( "Create", "Lacai")" class="list-group-item">Adicinar Locais</a>
}*@

<h2>Adicionar Vaga</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Vaga</legend>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.IdVaga)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IdVaga)
                @Html.ValidationMessageFor(model => model.IdVaga)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Codigo)
        </div>
        <div class="control-group error">
            <div class="editor-field">
                @Html.EditorFor(model => model.Codigo)
                @Html.ValidationMessageFor(model => model.Codigo)
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descricao)
            @Html.ValidationMessageFor(model => model.descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdLocal, "Local")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdLocal", "-- Seleccione Um --")
            @Html.ValidationMessageFor(model => model.IdLocal)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCategoria, "Categoria")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCategoria", "-- Seleccione Um --")
            @Html.ValidationMessageFor(model => model.IdCategoria)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdRecrutador, "Recrutador")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdRecrutador", "-- Seleccione Um --")
            @Html.ValidationMessageFor(model => model.IdRecrutador)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.DataInicio)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DataInicio)
                @Html.ValidationMessageFor(model => model.DataInicio)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.DataFim)
        </div>
        <div class="editor-field form-group input-group-sm">
            
            @Html.TextBoxFor(model => model.DataFim, new { @class = "datepicker input-xlarge", placeholder = "Enter Drop-off date here...", data_date_format = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower() })
            @Html.ValidationMessageFor(model => model.DataFim, null, new { @class = "help-inline" })
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.UrlImg)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UrlImg)
                @Html.ValidationMessageFor(model => model.UrlImg)
            </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.DetailsVaga)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DetailsVaga)
            @Html.ValidationMessageFor(model => model.DetailsVaga)
        </div>

        <br />
        <p>
            <button type="submit" class="btn btn-success">Criar</button>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('.datepicker').datepicker(); //Initialise any date pickers
    </script>
}