@model PortalEmprego_Wth_MemberShip_And_mvc5.Models.Vaga

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Vaga</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdVaga)

        <div class="form-group">
            @Html.LabelFor(model => model.Codigo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Codigo)
                @Html.ValidationMessageFor(model => model.Codigo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao)
                @Html.ValidationMessageFor(model => model.descricao)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio)
                @Html.ValidationMessageFor(model => model.DataInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataFim, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataFim)
                @Html.ValidationMessageFor(model => model.DataFim)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrlImg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrlImg)
                @Html.ValidationMessageFor(model => model.UrlImg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DetailsVaga, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DetailsVaga)
                @Html.ValidationMessageFor(model => model.DetailsVaga)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdRecrutador, "IdRecrutador", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdRecrutador", String.Empty)
                @Html.ValidationMessageFor(model => model.IdRecrutador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdLocal, "IdLocal", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdLocal", String.Empty)
                @Html.ValidationMessageFor(model => model.IdLocal)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCategoria, "IdCategoria", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCategoria", String.Empty)
                @Html.ValidationMessageFor(model => model.IdCategoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idStatus, "idStatus", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idStatus", String.Empty)
                @Html.ValidationMessageFor(model => model.idStatus)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
